@import 'header';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Benne', sans-serif;
}
body{
    overflow: hidden;
    background: url(https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltff8b4ae5f4cc8808/5f7d058d3dea860e7be3d93f/00_Header.jpg);
}
